.input-find{
    width: 100%;
    padding: 5px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgba(128, 128, 128, 0.178);
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.479);
    outline: none;
}