input[type=text]:not(.broswer-default) {
    width: 100%;
    padding: 7px 30px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgba(128, 128, 128, 0.178);
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.479);
    outline: none;
    margin-bottom: 10px;
  }

  input:focus { color: white }
