
nav ul li a:hover {
    text-decoration: underline;
  	text-decoration-color: red;
     
}


@media only screen and (max-width: 600px) {
  
  .brand-Logo{
    font-size: 12px;
  }

  .right li a {
    font-size: 12px;
  }

  .row .col.s4{
    width: 35%;
  }

  .row .col.s8{
    width: 65%;
  }

  .input-find a{
    font-size: 12px;
  }




}